/MorutiFastFoodWepApp/nbproject/private/
/MorutiFastFoodEJB/nbproject/private/
/MorutiFastFoodEJB/build/
/MorutiFastFoodEJB/dist/
/MrMorutiWebApplication/dist/
*.properties
/ShopEJBModule/build/
/ShopEJBModule/dist/
