<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AddProductServlet</servlet-name>
        <servlet-class>za.ac.tut.web.AddProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateCustomerServlet</servlet-name>
        <servlet-class>za.ac.tut.web.CreateCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllProductsServlet</servlet-name>
        <servlet-class>za.ac.tut.web.GetAllProductsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderItemServlet</servlet-name>
        <servlet-class>za.ac.tut.web.OrderItemServlet</servlet-class>
    </servlet>
    
    
    <servlet>
 
        <servlet-name>RemoveProductServlet</servlet-name>
        <servlet-class>za.ac.tut.web.RemoveProductServlet</servlet-class>
    </servlet>
    <servlet>

 
        <servlet-name>cartServlet</servlet-name>
        <servlet-class>za.ac.tut.web.cartServlet</servlet-class>
 
    </servlet>
    <servlet-mapping>
        <servlet-name>AddProductServlet</servlet-name>
        <url-pattern>/AddProductServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateCustomerServlet</servlet-name>
        <url-pattern>/CreateCustomerServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllProductsServlet</servlet-name>
        <url-pattern>/GetAllProductsServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderItemServlet</servlet-name>
        <url-pattern>/OrderItemServlet.do</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>RemoveProductServlet</servlet-name>
        <url-pattern>/RemoveProductServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
 
        <servlet-name>cartServlet</servlet-name>
        <url-pattern>/cartServlet.do</url-pattern>
 
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
